<!doctype html>
<html>
    <head>
        <meta property="qc:admins" content="16163272776017057416375" />
        <meta property="wb:webmaster" content="e0325c21e3dc7a96" />
        <meta charset="utf-8">
        <meta name="description" content="全网折扣，一网打尽！汇聚什么值得买、没得比、慢慢买等十几个网站的折扣信息，实时同步更新，更可私人定制、实时推送。">
        <meta name="keywords" content="好货啦 haohuola haohuola.com 折扣 打折信息 值得买">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
        <meta name="baidu-site-verification" content="jISkzC9aQQ" />
        <meta name="renderer" content="webkit">
        <!--
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        -->
        <!--[if lt IE 8]>
            <script src="<?php bloginfo('template_url');?>/js/ie8.js">IE7_PNG_SUFFIX=".png";</script>
        <![endif]-->
        <title>
	    </title>
        <link rel="stylesheet" href="http://7xivyp.com1.z0.glb.clouddn.com/normalize.css">
        <link rel="stylesheet" href="/css/style.css">
        <style>
        .now-mall{
            background-color:#ff6766;
            color:#fff;
        }
        .now-cate{
            background-color:#ff6766;
            color:#fff;
        }
        </style>
        <!--[if lt IE 8]>
        <style>
            html{
                overflow-x:hidden;
            }
            .nav-left-fixed{
                position: absolute;
                top:10px;
                left:0px;
            }
            .nav-list{
                margin-left:-16px;
            }
            .siteName{
                float:left;
            }
            .siteList li a{
            }
        </style>
        <![endif]-->
        <script src="/js/jquery.js"></script>
        <script src="/js/js.cookie.js"></script>
        <script src="/js/main.js"></script>
    </head>
    <body ontouchstart="">
    <div class="header">
        <div class="header-nav">
            <div class="header-left">
                <a href="/" target="_self">
                    <img id="logo" src="http://7xivyp.com1.z0.glb.clouddn.com/img/logo.png" alt="">
                </a>
            </div>
            <div class="header-right">
            <div id="bookmark"><span id="shoucang">收藏本站</span> <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=43ba89879bd7a843b14631c7119ec9f6a565db09f912fefb42bdcfb8765a3898"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="好货啦用户交流群" title="好货啦用户交流群"></a>
    </div>
                <div class="nav-menu">
                <div>
                    <a class="menu-link menu-link-home" style="" href="/">首页</a>
                    <a class="menu-link menu-link-cn" style="" href="/cn">国内折扣</a>
                    <a class="menu-link menu-link-haitao" style="" href="/haitao">海淘精选</a>
                    <a class="menu-link menu-link-baicai" style="" href="/baicai">白菜价</a>
                </div>
            </div>
                <div id="search-out">
                    <form action="search/" method="get" id="search-form">
                        <input type="text" name="word" class="search" id="search" placeholder="懒得找了？搜一下试试..." value="">
                        <input type="submit" value="搜索" class="button" id="searchBu">
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div id="notification">请按 Ctrl+D 来收藏到浏览器书签</div>